@font-face {
  font-family: 'north';
  src: font-url('north/north.eot');
  src: font-url('north/north.eot') format('embedded-opentype'),
    inline-font-files('north/north.woff'),
    font-url('north/north.ttf') format('truetype'),
    font-url('north/north.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'homestead-one';
  src: font-url('homestead/homestead-one.eot');
  src: font-url('homestead/homestead-one.eot') format('embedded-opentype'),
    inline-font-files('homestead/homestead-one.woff'),
    font-url('homestead/homestead-one.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'homestead-two';
  src: font-url('homestead/homestead-two.eot');
  src: font-url('homestead/homestead-two.eot') format('embedded-opentype'),
    inline-font-files('homestead/homestead-two.woff'),
    font-url('homestead/homestead-two.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'homestead-three';
  src: font-url('homestead/homestead-three.eot');
  src: font-url('homestead/homestead-three.eot') format('embedded-opentype'),
    inline-font-files('homestead/homestead-three.woff'),
    font-url('homestead/homestead-three.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'homestead-regular';
  src: font-url('homestead/homestead-regular.eot');
  src: font-url('homestead/homestead-regular.eot') format('embedded-opentype'),
    inline-font-files('homestead/homestead-regular.woff'),
    font-url('homestead/homestead-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt';
  src: font-url('pt/pt.eot');
  src: font-url('pt/pt.eot') format('embedded-opentype'),
    inline-font-files('pt/pt.woff'),
    font-url('pt/pt.ttf') format('truetype'),
    font-url('pt/pt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt';
  src: font-url('pt/pt-italic.eot');
  src: font-url('pt/pt-italic.eot') format('embedded-opentype'),
    inline-font-files('pt/pt-italic.woff'),
    font-url('pt/pt-italic.ttf') format('truetype'),
    font-url('pt/pt-italic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'pt';
  src: font-url('pt/pt-bold.eot');
  src: font-url('pt/pt-bold.eot') format('embedded-opentype'),
    inline-font-files('pt/pt-bold.woff'),
    font-url('pt/pt-bold.ttf') format('truetype'),
    font-url('pt/pt-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pt';
  src: font-url('pt/pt-bolditalic.eot');
  src: font-url('pt/pt-bolditalic.eot') format('embedded-opentype'),
    inline-font-files('pt/pt-bolditalic.woff'),
    font-url('pt/pt-bolditalic.ttf') format('truetype'),
    font-url('pt/pt-bolditalic.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'scp';
  src: font-url('scp/scp.eot');
  src: font-url('scp/scp.eot') format('embedded-opentype'),
    inline-font-files('scp/scp.woff'),
    font-url('scp/scp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}