@import "toolkit";

//////////////////////////////
// Homestead
//////////////////////////////
@include font-face('homestead-one', (
  'eot': 'homestead/homestead-one.eot',
  'woff': 'homestead/homestead-one.woff',
  'ttf': 'homestead/homestead-one.ttf'
), $inline-woff: true);

@include font-face('homestead-two', (
  'eot': 'homestead/homestead-two.eot',
  'woff': 'homestead/homestead-two.woff',
  'ttf': 'homestead/homestead-two.ttf'
), $inline-woff: true);

@include font-face('homestead-three', (
  'eot': 'homestead/homestead-three.eot',
  'woff': 'homestead/homestead-three.woff',
  'ttf': 'homestead/homestead-three.ttf'
), $inline-woff: true);

//////////////////////////////
// PT Sans
//////////////////////////////
@include font-face('pt', (
  'eot': 'pt/pt.eot',
  'woff': 'pt/pt.woff',
  'ttf': 'pt/pt.ttf',
  'svg': 'pt/pt.svg'
));

@include font-face('pt', (
  'eot': 'pt/pt-italic.eot',
  'woff': 'pt/pt-italic.woff',
  'ttf': 'pt/pt-italic.ttf',
  'svg': 'pt/pt-italic.svg'
), $style: italic);

@include font-face('pt', (
  'eot': 'pt/pt-bold.eot',
  'woff': 'pt/pt-bold.woff',
  'ttf': 'pt/pt-bold.ttf',
  'svg': 'pt/pt-bold.svg'
), $weight: bold);

@include font-face('pt', (
  'eot': 'pt/pt-bolditalic.eot',
  'woff': 'pt/pt-bolditalic.woff',
  'ttf': 'pt/pt-bolditalic.ttf',
  'svg': 'pt/pt-bolditalic.svg'
), bold, italic);

//////////////////////////////
// Source Code Pro
//////////////////////////////
@include font-face('scp', (
  'eot': 'scp/scp.eot',
  'woff': 'scp/scp.woff',
  'ttf': 'scp/scp.ttf'
));