//////////////////////////////
// Compass Cross-Browser Configuration
//////////////////////////////
// This will print out how Compass came to its conclusions on prefixing. Set to `false` to disable
$debug-browser-support: true;

// When using $browser-minimum-versions, we can set these to 100 to force our browser versions to dictate prefixing
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "chrome": "30",
  "firefox": "17",
  "safari": "6",
  "opera": "17",
  "ios-safari":  "7.0",
  "android": "2.3",
  "opera-mobile": "12.1",
  "blackberry": "7",
  "ie-mobile": "10"
);

//////////////////////////////
// Compass Imports
//////////////////////////////
@import "compass";
@import "compass/reset";

@import "breakpoint";
@import "toolkit";
@import "toolkit/kickstart";

@import "partials/global/functions";
@import "partials/global/variables";

@import "partials/components/prism-okaidia";

//////////////////////////////
// Layout Imports
//////////////////////////////
@import "partials/layouts/main";

//////////////////////////////
// Scratch
//////////////////////////////

body {
  background: $background;
  color: $foreground;
  font-family: 'pt';
  font-weight: normal;
}

$golden: 1.61803398875;

html {
  font-size: 100%;
  @include breakpoint(543px) {
    font-size: 125%;
  }
  line-height: $golden * 1em;
}

*::selection {
  text-shadow: none;
  background: rgba(lightblue, .4);
}

._slider--PANELS {
  max-width: 100%;
  margin: 0 auto;
}

._slider--pane:nth-of-type(1) {
  position: relative;
  z-index: 2;
  display: block;
  margin-bottom: 100vh;
  @include box-shadow(0 5px 10px rgba(black, .35));
}

._slider--pane {
  min-height: 100vh;
  position: fixed;
  top: 0;
  display: block;
  padding-left: 10%;
  padding-right: 10%;

  @for $i from 1 through 8 {
    &:nth-of-type(#{$i}) {
      z-index: $i * -1;
    }
  }
}

._slider--pane:nth-of-type(odd) {
  background: red;
}

._slider--pane:nth-of-type(even) {
  background: white;
}

.highlighted {
  background: yellow;
}

// pre[class*="language-"] {
//   position: relative;
//   width: 100vw;
//   padding: {
//     left: .5rem;
//     right: .5rem;
//   }
//   margin-left: -50vw;
// }

.base--STYLED {
  // overflow: hidden;
  max-width: 738px;
  padding: {
    left: .5rem;
    right: .5rem;
  }
  margin: 0 auto;


  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 3em - .5em * $i;
    }
  }

  a {
    text-decoration: none;
    color: $primary;
    border-bottom: 1px solid mix($white, $primary, 75%);

    &:hover {
      color: $secondary;
      border-color: mix($white, $secondary, 75%)
    }
  }

  h1, h2 {
    border-bottom: 1px solid $thin;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    padding: 0;
    padding-top: .5rem;
    font-weight: bold;
    position: relative;
    // float: left;
    width: 100%;
    line-height: 1em;
    word-wrap: break-word;
    color: $secondary;
    border: none;
  }

  h1 {
    @include breakpoint($nav-sideline) {
      @include box-sizing(content-box);
    }
  }

  ul, ol {
    padding-left: 1.5rem;
    clear: both;
  }

  ol {
    display: block;
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  ul {
    list-style-type: disc;
  }

  ol ul,
  ul ul {
    list-style-type: circle;
  }

  ol ul ul,
  ul ul ul {
    list-style-type: square;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  p {
    margin: 1rem 0;
  }

  blockquote {
    border-right: 4px solid $secondary;
    text-align: right;
    padding: 0 1rem;
    color: mix($white, $secondary, 25%);
    > :first-child {
      margin-top: 0;
    }
  }

  small {
    font-size: .75em;
  }
}

img[data-borealis-srcs*="The_Treachery_Of_Images"] {
  @include breakpoint(400px) {
    width: 50% !important;

    @include breakpoint(max-width ($nav-inline - 1px)) {
      float: right;
    }
  }

  @include breakpoint($nav-inline) {
    padding-left: 0;
    max-width: 400px;
  }


  @include breakpoint(1069px) {
    padding-left: .5em;
    padding-bottom: .5em;
    float: right;
  }
}

a[href*="The_Treachery_Of_Images"] {
  border: none;
  @include breakpoint($nav-inline 1068px) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

img:hover {
  cursor: pointer;
}

.banner--title {
  $start-font-size: 2.5rem;
  $end-font-size: 12.75rem;
  $min: 400px;
  $max: 2560px;
  $diff: ($max - $min) / 1px / 20;
  $fontDiff: ($end-font-size - $start-font-size) / ($diff);

  font-size: 2.5rem;
  line-height: 1em;

  @for $i from 1 through $diff {
    @include breakpoint($min + ($i * 20px)) {
      font-size: $start-font-size + ($fontDiff * $i);
    }
  }

  text-align: left;
  @include breakpoint($nav-inline) {
    text-align: center;
    margin-left: 0;
  }
}

.banner--logo {
  @extend %icon;
  padding-right: .16em;
  @include translateY(.119402985em);
}

.banner--wordmark {
  @extend %icon;
  font-size: .75em;

  color: $primary;
  text-transform: uppercase;
  position: relative;

  text-align: left;
  display: inline-block;

  font-family: 'homestead-regular';

  @include breakpoint($wordmark-swap) {
    font-family: 'homestead-one';

    &:before {
      content: 'north';
      text-transform: uppercase;
      font-family: 'homestead-two';
      color: mix($black, $primary, 10%);
      position: absolute;
      left: 0;
      top: -0.07em;
    }
    &:after {
      content: 'north';
      text-transform: uppercase;
      font-family: 'homestead-three';
      color: mix($white, $primary, 10%);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.banner {
  float: left;
  width: 100%;
  padding: .5rem;
  @include clearfix;
  overflow: hidden;
}

.__main {
  clear: both;
}

a.deep-link {
  display: block;
  border: none;
  color: $secondary;

  @include breakpoint($nav-sideline) {

    h1 & {
      @include translateX(-1rem);
      padding-left: 1rem;
      @include box-sizing(content-box);
    }
  }
}

h1, h2 {
  .deep-link {
    border-bottom: 1px solid $thin;
  }
}

.footer {
  margin-top: .5rem;
  padding-top: .25rem;
  padding-bottom: 2rem;
  border-top: 1px solid $thin;

  &--top {
    font-size: .75em;
    display: inine-block;
    text-transform: lowercase;
    float: left;
  }

  &--copyright {
    float: right;
    text-align: right;
  }

  &--icon {
    @extend %icon;
    border-bottom: none !important;
  }

}