$serif: 'Century Gothic', 'Tw Cen MT', Futura, 'URW Gothic L', Arial, sans-serif;
$sans: 'PT Sans', Verdana, Tahoma, 'Trebuchet MS', 'DejuVu Sans', 'Bitstream Vera Sans', sans-serif;
$mono: 'scp', 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;

%icon {
  @include enable-ligatures;
  color: $secondary;
  font-family: 'north';
  text-transform: lowercase;
  display: inline-block;
  border: none;
}

* {
  text-rendering: optimizeLegibility;
}