@font-face {
  font-family: 'north';
  src: font-url('north/north.eot');
  src: font-url('north/north.eot') format('embedded-opentype'),
    inline-font-files('north/north.woff'),
    font-url('north/north.ttf') format('truetype'),
    font-url('north/north.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}