<!doctype html>
<html lang="{{lang}}" dir="{{dir}}" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>North</title>
  <meta name="viewport" content="initial-scale=1.0">
<!-- build:css css/style.css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/bower_components/prism/themes/prism-okaidia.css">
<!-- endbuild -->
</head>
<body>
  <header class="banner __banner">
    <h1 class="banner--title"><span class="banner--logo" aria-hidden="true">North</span><span class="banner--wordmark">North</span></h1>
<!--     <aside class="gh-buttons">
      <iframe src="http://ghbtns.com/github-btn.html?user=snugug&repo=north&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=snugug&repo=north&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="152" height="30"></iframe>
    </aside> -->
  </header>
  <main class="__main" data-toggle-anchor="main" data-state="open">
    {{nav}}
    {{content}}
  </main>


    <!-- build:js js/app.js -->
    <script src="/bower_components/borealis/dist/borealis.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/bower_components/prism/prism.js"></script>
    <script src="/bower_components/prism/components/prism-javascript.min.js"></script>
    <script src="/bower_components/prism/components/prism-markup.min.js"></script>
    <script src="/bower_components/prism/components/prism-ruby.min.js"></script>
    <script src="/bower_components/prism/components/prism-scss.min.js"></script>
    <!-- endbuild -->
</body>
</html>