<!doctype html>
<html lang="{{lang}}" dir="{{dir}}" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>North</title>
  <meta name="viewport" content="initial-scale=1.0">
<!-- build:css css/style.css?__inline=true -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/bower_components/prism/themes/prism-okaidia.css">
<!-- endbuild -->
</head>
<body>
  <header class="banner __banner">
    <h1 class="banner-title">North</h1>
    <a href="#nav" class="toggle--MENU" data-toggle-target="main" data-toggle-state="open|closed">Menu</a>
  </header>
  <main class="__main" data-toggle-anchor="main" data-state="open">
    {{nav}}
    {{content}}
  </main>


    <!-- build:js js/app.js?__inline=true -->
    <script src="/bower_components/borealis/dist/borealis.min.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/toggle.js"></script>
    <script src="/bower_components/prism/prism.js"></script>
    <script src="/bower_components/prism/components/prism-javascript.min.js"></script>
    <script src="/bower_components/prism/components/prism-markup.min.js"></script>
    <script src="/bower_components/prism/components/prism-ruby.min.js"></script>
    <script src="/bower_components/prism/components/prism-scss.min.js"></script>
    <!-- endbuild -->
</body>
</html>