<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>North: Standards to Align and Guide Your Project</title>
<!-- build:css css/style.css?__inline=true -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/bower_components/prism/themes/prism-okaidia.css">
<!-- endbuild -->
</head>
<body>
  <header>
    <h1>North</h1>
  </header>
    {{content}}

    <!-- build:js js/app.js?__inline=true -->
    <script src="/bower_components/prism/prism.js"></script>
    <script src="/bower_components/prism/components/prism-javascript.min.js"></script>
    <script src="/bower_components/prism/components/prism-markup.min.js"></script>
    <script src="/bower_components/prism/components/prism-ruby.min.js"></script>
    <script src="/bower_components/prism/components/prism-scss.min.js"></script>
    <script src="/bower_components/borealis/dist/borealis.min.js"></script>
    <script src="/js/working.js"></script>
    <!-- endbuild -->
</body>
</html>